@import "tailwindcss";

@theme {
  --color-primary: #ddd6fe;
  --color-primary-dark: #c4b5fd;
  --color-background: #f1eefc;
  --color-status-aberto: #34d399;
  --color-status-andamento: #fbbf24;
  --color-status-finalizado: #9ca3af;
   --font-sans: "Poppins", sans-serif;
}